[Desktop Entry]
Comment=-
Name=Smith-Pad-OS-KDE-Theme
X-KDE-PluginInfo-Author=-
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=-
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=non
X-KDE-PluginInfo-Name=Smith-Pad-OS-KDE-Theme
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=-
X-KDE-ServiceTypes=Plasma/LookAndFeel
