[Desktop Entry]
Comment=hello
Name=hello
X-KDE-PluginInfo-Author=hello
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=hello
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=non
X-KDE-PluginInfo-Name=hello
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=hello
X-KDE-ServiceTypes=Plasma/LookAndFeel
